
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*nav bar styling*/

ul {
    list-style-type: none;
}

#hero-bg {
    background-image: url(../images/hero-img.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 15px;
}

#hero-bg a, #hero-bg i {
    color: whitesmoke;
}

#hero-bg i {
    font-size: 30px;
    padding-left: 10px;
}

#store-items {
    background-color: rgba(0, 0, 0, 0.9);
}

/*title*/

.title {
    display: flex;
    justify-content: space-evenly;
}

.title div {
    font-family: "Cinzel", serif;
    color: whitesmoke;
    font-weight: 400;
    font-size: 100px;
}

/*split*/

.split {
    display: flex;
    flex-direction: column;
}

/*shop shoes and accesories*/

.shop-shoes-bg {
    background-image: url(../images/shop-shoes.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60vh;
}

/* shop accessories*/

.shop-accessories-bg {
    background-image: url(../images/shop-accessories.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60vh;
}

.division {
    height: 15px;
    background-color: white;
}

/*shop mens*/

.shop-mens-bg {
    background-image: url(../images/shop-mens.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60vh;
    margin-top: 15px;
}

/*info*/
.info, .info-shoes, .info-accessories, .info-mens {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    color: whitesmoke;
    font-family: "Cinzel", serif;
    letter-spacing: 5px;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

.info-title {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 20px;
}

.info-link {
    background-color: white;
    color: black;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
}

.info-title h2 {
    font-family: "Baskervville SC", serif;
}

.info-link h4 {
    font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 965px) {
    .split {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }

    .shop-shoes-bg {
        width: 50%;
    }

    .shop-accessories-bg {
        width: 50%;
    }

    .division {
        height: 60vh;
        width: 15px;
    }
  }